{% extends '::base.html.twig' %}

{% block title %}Prepare a quote{% endblock %}

{% block body %}
    <h1> Prepare a quote </h1>

{{form_start(form)}}
{{form_widget(form)}}
{#<input type="submit" value="Evaluate">#}
{{form_end(form)}}

{% endblock %}
