{% extends "::base.html.twig" %}

{% block title %}Show all translators{% endblock %}

{% block body %}
    <h1>Translators</h1><br>
    <a class="btn btn-primary" href='{{path('translations_translator_new') }}'>Add translator</a><br>

{% for translator in translators %}
    <h3> <b>{{translator.name}} {{translator.surname}}</b> </h3><br> 
    <a class="btn btn-primary" href='{{path('translations_translator_show', {'id':translator.id}) }}'>Show translator information</a>   
    {% endfor %}
   


{% endblock %}
