{% extends "::base.html.twig" %}

{% block title %}Show all proofreaders{% endblock %}

{% block body %}
    <h1>Proofreaders</h1><br>
    <a class="btn btn-primary" href='{{path('translations_proofreader_new') }}'>Add proofreader</a><br>

{% for proofreader in proofreaders %}
    <h3> <b>{{proofreader.name}} {{proofreader.surname}}</b> </h3><br> 
    <a class="btn btn-primary" href='{{path('translations_proofreader_show', {'id':proofreader.id}) }}'>Show proofreader information</a>   
    {% endfor %}
   


{% endblock %}
