{% extends '::base.html.twig' %}

{% block title %}Add new client{% endblock %}

{% block body %}
    <h1> Add new client </h1>

{{form_start(form)}}
{{form_widget(form)}}
<input type="submit" value="Create">
{{form_end(form)}}

{% endblock %}
