
{% extends "::base.html.twig" %}

{% block title %}Show all clients{% endblock %}

{% block body %}
    <h1>Clients</h1><br>
    <a class="btn btn-primary" href='{{path('translations_client_new') }}'>Add client</a><br>

{% for client in clients %}
    <h3> <b>{{client.name}}</b> </h3><br> 
    <a class="btn btn-primary" href='{{path('translations_client_show', {'id':client.id}) }}'>Show client information</a>   
    {% endfor %}
   


{% endblock %}