
{% extends "::base.html.twig" %}

{% block title %}Show all language pairs{% endblock %}

{% block body %}
    <h1>Language pairs</h1><br>
    <a class="btn btn-primary" href='{{path('translations_languagepair_new') }}'>Add new language pair</a><br>

{% for languagePair in languagePairs %}
    <h3> <b>{{languagePair.languagePair}}</b> </h3><br> 
    {#<a class="btn btn-primary" href='{{path('translations_languagePair_show', {'id':client.id}) }}'>Show client information</a> #} {# TUTAJ DODAJ PRZEKIEROWANIE DO WSZYSTKICH TŁUMACZY Z TEJ PARY#}  
    {% endfor %}
   


{% endblock %}
